
/*****************GLOBAL********************/

:root {
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;/*????*/
}

body {
	margin: 0 auto;
	background: linear-gradient(hsl(215, 75%, 15%),hsla(240, 50%, 1%, 0.95));
	background-image: url(../img/main_background.png);
	max-width: 1600px;
	font: 400 1rem / 2rem  Montserrat, Arial, sans-serif;
	color: hsl(213, 19%, 70%);
}
a {
	color: hsl(0, 0%, 100%);
	text-decoration: none;
}

a:hover {
   color: hsl(360, 100%, 60%);
}

img { 
	max-width: 100%;
	height: auto; 
}

.container {
	max-width: 1176px;
	width: 100%; 
	margin: 0 auto;
	display: flex;
}

h2 {
	margin: 0;
	color: hsl(0, 0%, 100%);
	font-size: 2.42rem;
	font-weight: 400;
	line-height: 4rem;
	letter-spacing: .0715rem;
}

span {
	color: hsl(215, 59%, 40%);
}

.button {
	background-color: hsl(215, 75%, 15%);
	border: 2px solid hsl(215, 59%, 44%);
	border-radius: 25px;
	padding: .5rem;
}

.button:hover {
	cursor: pointer;
	border: 2px solid hsl(360, 100%, 60%);
}

.button:hover a { /*txt animation*/
	color: hsl(360, 100%, 60%);
}

/*************HEADER********************/

.page-header {
	margin-top: 3vh;
}

.page-header > .container {
	justify-content: space-between;
	align-items: center;
}

.logo {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo p {
	display: inline-block;
	margin: 0;
	padding: 0 0.44rem;
	color: hsl(0, 0%, 100%);
	font-size: 1.72rem;
	font-weight: 700;
}

.logo:hover p {
	color: hsl(360, 100%, 60%);
}

/******************nav***************/

nav {
	text-align: center;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
}

nav li {
	display: inline-block;
	width: 120px;
}

nav li a {
	display: inline-block;
	padding: 0 10px;
}

nav ul li {
	text-align: center;
}

nav ul ul li {
	display: block;
}

nav ul ul {
	display: none;
}

nav li:hover ul {
	display: block;
}

nav li ul {
	position: absolute;
}

nav ul li ul li a {
	display: block;
	padding: 0;
}

/****************HERO********************/

.title {
	margin: 10rem 0 11.45rem 0;
	display: flex;
	flex-direction: column;/*row flex: wrap:*/
	justify-content: center;
	align-items: center;
}

.title h1 {
	margin: 0;
	color: hsl(0, 0%, 100%);
	font-weight: 400;
	font-size: 2.72rem;
	line-height: 4rem;
	letter-spacing: .0715rem;
}

.title p {
	margin: 0;
	color: hsl(215, 59%, 40%);
	line-height: 4rem;
	letter-spacing: .0715rem;
}

.cta {
	margin-top: 3rem;
}

.screens1 {
   background-image: url(../img/Vector_Smart_Object_copy.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.screen {
	box-shadow: 0 0 7rem hsl(215, 83%, 12%);
}

.screens1 img {
	margin-right: 3rem;
}

.screens1 img:last-child {
	margin-right: 0;
}

/***********INTRO*****************/
/* no headphones.png on mobile*/

.intro-section {
	margin-top: 6.42rem;
	display: flex;
}

.intro {
	padding: 0 6.178rem 0 3.85rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro p {
	margin: 0;
	padding-top: 1rem;
}

.view-more {
	margin-top: 1.4rem;
	align-self: flex-start;
}

/************FEATURES************/

.features-section {
	margin-top: 6.5rem;
}

.features-section > .container {
	flex-direction: column;
	align-items: center;
}

.columns {
	margin-top: 17vh;
	display: flex;
	justify-content: space-between;
}	

.col {
	flex: 1;
}

.phone {
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature {
	margin-bottom: 12vh;
}

h4 {
	color: hsl(0, 0%, 100%);
	font-size: 1.38rem;
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: .0715rem;
}

.feature p {
	margin: 0;
}

.main-features {
	box-shadow: 0 0 96px hsl(215, 83%, 12%);
}

/**********FEATURES-PERSPECTIVE************/

.features-perspective-section {
	margin: 10rem 0 6.4rem 0;
	display: flex;
}

.perspective {
	margin: 0 1.2vw 0 6.332vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.perspective .icon {
	margin-bottom: 1.5rem;
}

h3 {
	margin: 0;
	color: hsl(0, 0%, 100%);
	font-size: 2rem;
	font-weight: 400;
	line-height: 4rem;
	letter-spacing: .0715rem;
}

.perspective p {
	margin: 1rem 0 0 0;
}

/**************TESTIMONIALS****************/

.testimonials-section {
	background-color: hsl(215, 75%, 15%, 0.25);
	position: relative;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
}

.testimonials-section::after {
	content: "";
	background-image: url(../img/testimonials_background.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	/* z-index: -1;    */
 }

.testimonial {
	max-width: 740px; /*use flex-3/5 of avaiable space or use vh*/
	width: 100%; 
	margin: 0 auto;
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testimonial > p {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.7rem;
	letter-spacing: .0715rem;
	text-align: center;
}

.testimonial-author {
	margin-top: 3.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.photo {
	padding-right: 1rem;
}

.testimonial-author > p {
	margin: 0;
}

.bullets {
	padding: 4rem 0 6rem 0;
	margin: 0;
	text-align: center;
}

.bullet {
	width: 10px;
	height: 9px;
	border: 2px solid hsl(217, 49%, 25%);
	border-radius: 50%;
	display: inline-block;
	margin: 10px; 
}

.active {
	background-color: hsl(216, 49%, 39%);
}

/*************DOWNLOAD**************/

.download-app-section {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.download-info {
	/* max-width: 670px; use flex-3/5 of avaiable space or use vh */
	/* width: 100%;  */
	/* margin: 0 auto; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.download-info > p {
	margin: 3rem 0 0 0;
	width: 42rem; /*vw*/
	letter-spacing: .0715rem;
	text-align: center;
}

.screens3 {
	margin-top: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.download {
	margin: 3.5rem 0 7rem 0;
	border: 2px solid hsl(214, 67%, 18%);
	background-color: hsl(228, 71%, 1%);
}

/*************FOOTER*******************/

.page-footer {
	border-top: 1px solid hsl(0, 0%, 25%);
	/* margin-bottom: 5rem;vh */
}

.page-footer > .container {
   /* padding: 40px 0; */
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer-nav-items {
   padding: 0;
   margin: 0;
   list-style: none;
   /* line-height: 16px; */
}

.footer-nav-items li {
	padding: 0px 25px 0 0;
   display: inline-block;
}

.footer-nav-items li a {
   font-size: 16px;
   color: hsl(215, 75%, 15%);
	font-weight: 700;
	line-height: 73.59px;
}

.footer-nav-items li a:hover {
   color: hsl(360, 100%, 60%);
}

.page-footer p {
   margin: 0;
   display: inline-block;
   font-size: 16px;
   color: hsl(215, 75%, 15%);
   font-weight: 700;
	/* line-height: 16px; */
	line-height: 73.59px;
}

